.wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  grid-auto-rows: 1fr;

  .isLoading {
    padding: 50px;
  }
  .cardContainer {
    height: 100%;
  }
}